body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.achievement-selection {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  color: black;
  border: 1px solid #00d5fa;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover,
.active {
  background-color: #00d5fa;
  color: white;
}

.curricular {
  border-color: #00d5fa;
}

.extracurricular {
  border-color: #00d5fa;
}

.cocurricular {
  border-color: #00d5fa;
}
